body
{
     justify-content:center; 
}
nav {
    background-color: crimson;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0; 
    z-index: 1000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center; 

}
li a {
    background-color: white;
    padding: 1em 1.53em;
    display: block;
    margin: 5px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: crimson;
}
.HomeContent {
    text-align: center;
    margin: 100px auto;
    width: 80%;
    align-items: center; 
}
.Homecard {
    padding: 20px; 
    margin: 20px;
    border-radius: 20px;
    background-color: crimson;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid dashed;
    width: fit-content;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.Homecard img{
    width: 100%;
    height: auto; 
    border-radius: 50%; 
    margin-bottom: 15px;
}
.card-body{
    padding: 10px;
}
li a:hover {
    background-color: grey;
}
.AboutContent {
    text-align: center;
    margin: 100px auto;
    width: 70%;
    align-items: center;
}
.ProjectContent {
    text-align: center;
    margin: 100px auto;
    width: 70%;
    align-items: center;
}
.ProCard {
    display: flex;
    justify-content: center; 
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: crimson;
    border: 1px solid;
    border-radius: 8px;
    padding: 16px;
}
